#foto{
    width: 1000px;
    height: 200px;
    background: linear-gradient(90deg,rgb(65, 63, 63), rgb(19, 18, 18));
    opacity: 0.9;
}
#nombre{
    color: red;
}
body{
    background-image: url("foto3.2.jpg"); 
    
    margin: 22px;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
body ::before {
    position: absolute;
    opacity: 0.6;

   
  }
  #p1,#p2{
      color:rgb(5, 5, 5);

  }
  #tabla{
    width: 100%;
    border: 1px solid #000;

  }
  th,td{
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
  }